.btn-primary{
    margin-top: 10px;
}
.fondo_navar{
    background: black;
    color: white;
}

.text_navar{
    color: white;
}
.tamaño_carrusel{
    height: 900px;
}
.ingreso_uni{
    margin-right: 100px;
}